<mat-toolbar class="toolbar">
    <div class="logo" style="height: 100%;">
        <img src="assets/images/Logotipo.png" alt="Terrenos"
            style="height: 10vh;" />
    </div>


    <div class="toolbar_buttons">
        <button mat-button>Inicio</button>
        <button mat-button>Acerca de nosotros</button>
        <button mat-button>Terreno</button>
        <button mat-button class="wasap" aria-label="Whatsapp" >
            <div style="display: flex; flex-direction: row; align-items: center; height: 100%;">
                <h3>Contactanos</h3> 
                <img src="assets/images/WASAAAA.png" alt="Whatsapp" style= "height: 5vh; filter:invert(100%);" />
                
            </div>
              
        </button>
    </div>

</mat-toolbar>