.toolbar{
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    z-index: 1000;
    transition: background-color 0.3s;
    height: 12vh;

}

.toolbar.transparent {
    background-color: transparent;
}

.toolbar.transparent button{
    color: white;
}

.toolbar.colored {
    background-color: #F3E9DC;
}

.toolbar.colored button{
    color: #C14D36;
}

.toolbar .toolbar_buttons{
    height: 100%;
}

.toolbar .toolbar_buttons .toolbar-button{
    height: 100%;
}

.logo{
    align-items: center;
    height: 10vh;
    border-radius: 100%;
    margin: 1vh;
}

.toolbar_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vw;
        
}

.toolbar_buttons .toolbar-button{
    width: 14vw;
    background-color: transparent;
    color: white;
    border: none;
    font-size:medium;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 2.5%;
    align-items: center;
}



.toolbar button:hover{
    transition: 0.5s;
    font-size: larger;
    color: #C14D36;
}

.toolbar_buttons .wasap{
    align-items: center;
    transition: 0.5s;
    border-radius: 0.5vw;
    background: linear-gradient(180deg, #c14d36af -80%, #fec04e 50%, #C14D36 180%); ;
}

.toolbar_buttons .wasap:hover{
    transition: 0.5s;
    transform: scale(1.1);
}



.wasap h3{
    color: white;
    font-size: 2.5vh;
    margin: 0;
}
.toolbar button.active {
    border-bottom: 0.5vh solid #D9A441;
    border-radius: 2.5% 2.5% 0 0;
}