<mat-toolbar class="toolbar">
    <div class="logo">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/044/448/617/small/collection-of-simple-house-logo-designs-isolated-png.png" alt="Terrenos"
            style="width: 8vw;" />
    </div>


    <div class="toolbar_buttons">
        <button mat-button>Inicio</button>
        <button mat-button>Acerca de nosotros</button>
        <button mat-button>Terreno</button>
        <button mat-button class="wasap" aria-label="Whatsapp" >
            <div style="display: flex; flex-direction: row; align-items: center; height: 100%;">
                <h3>Contactanos</h3> 
                <img src="assets/images/WASAAAA.png" alt="Whatsapp" style= "height: 5vh; filter:invert(100%);" />
                
            </div>
              
        </button>
    </div>

</mat-toolbar>