<!-- Footer Section -->
<footer class="footer">
    <div class="footer-logo">
        <img src="assets/images/Logotipo.png" alt="Terrenos Logo" style="width: 15vw;">
    </div>
    <div class="footer-contact">
        <h3>Contactanos</h3>
        <p>Email: contactoterrenos.com</p>
        <p>Teléfono: +52 123 456 7890</p>
        <p>Dirección: Calle Falsa 123, Ciudad, País</p>
    </div>
    <div class="footer-social">
        <h3>Síguenos</h3>
        <button mat-icon-button aria-label="Twitter" class="social-button">
            <i class="fab fa-twitter"></i>
        </button>
        <button mat-icon-button aria-label="Instagram" class="social-button">
            <i class="fab fa-instagram"></i>
        </button>
        <button mat-icon-button aria-label="Facebook" class="social-button">
            <i class="fab fa-facebook-f"></i>
        </button>
        <button mat-icon-button aria-label="LinkedIn" class="social-button">
            <i class="fab fa-linkedin-in"></i>
        </button>
    </div>
</footer>
